* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: system-ui;
}

#MasterFrame {
    background-color: #c0c1bf;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

#links {
    gap: 10px;
    display: flex;
}

#lancamentos {
    background-color: #eee;
}

#lancamentos>h1 {
    text-align: center;
}

#lancamentos-conteudo {
    display: flex;
    gap: 30px;
}

/*Entrevistas & Making of*/
.section-5 {
    width: 100%;
}

.section-5-title {
    text-align: left;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}   
.section-5-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.section-5-card {
    grid-template-columns: repeat(3, 3fr);
}
.section-space{
    
}
.section-5-text{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.section-5-bold-text{
    font-size: 25px;
    font-weight: 700;
    padding-right: 5px;
}

.section-5-small-text{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 150px;
    
}

.section-5-small-bold-text{
    font-weight: 700;
    padding-right: 5px;
}

.display-text {
    max-width: 150px;
    margin-right: 150px;
    display: block;
}

.adicional {
    position: relative;
    font-size: 25px;
    top: 1.7px;
    padding-right: 5px;
}

.section-5-button {
    display: flex;
    align-items: center;
    margin: 64px 0;
    float: right;
    border: none;
    border-radius: 4px;
    background: black;
    color: beige;
    padding: 6px 16px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.section-5-button:hover {
    background: rgb(56, 50, 50);
}

iframe {
    border: none;
    width: 100%;
    height: 200px;
}

#logo {
    border: 1px solid #000;
    font-weight: 600;
    padding: 4px 20px;
    font-size: 1.2em;
}

/* Seção destaque */
#destaque {
    background-color: white;
    border-top: 1px solid #ececec;
}

.container {
    /* TODO: Definir o tamanho final */
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

#destaque-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

#destaque-header select {
    padding: 10px;
    border-radius: 3px;
    width: 300px;
}

#destaque-header select > option {
    padding: 10px;
}

#destaque h1 {
    color: #141f30;
    font-size: 40px;
}

#destaque-content {
    display: flex;
    justify-content: space-between;
}

#destaque-content > img {
    width: 250px;
}


/* Seção 4 */
#Secao4{
    background-color: #fff;
}
#UltimasAvaliacoes{
    display:flex;
    flex-direction: column;
}
#UltimasAvaliacoes img{width:20px;}
#CabecalhoAvaliacoes{
    font-size: 25px;
    margin-bottom: 60px;
}
#TodasAvaliacoes{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.Avaliacao{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    
}
.Avaliacao > img{
    flex:2;
    margin-right: 20px;

}
.Avaliacao > .CoreAvaliacao{
    flex:8;
}

.CoreAvaliacao{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.titleAvaliacao{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.starsAvaliacao{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2em;
}
#MaisAvaliacoes{
    background-color: #222;
    color: #fff;
    padding: 6px 20px;
    align-self: flex-end;
    margin:60px 0;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
#MaisAvaliacoes:hover{
    background-color: #888;
}
#MaisAvaliacoes a{
    text-decoration: none;
    color: #fff;
}

.section-6 {
    background-color: white;
}

.section-6 .container {
    display: flex;
}

.section-6-firt-column {
    flex: 50%;
}

.section-6-second-column {
    flex: 50%;
}
.section-6-card {
    display: flex;
    margin-bottom: 10px;
}
.section-6-card-title {
    padding: 5px 0 5px 0;
    margin-left: 40px;
    
}
.section-6-card-text {
    margin-left: 40px;
    padding-right: 180px;
}
.section-6-img {
    width: 250px;
    height: 200px;
}

.section-6-second-column-text {
    padding-right: 170px;
    line-height: 25px;
}
.section-6-avatar {
    width: 40px;
    height: 40px;
}
.section-6-text-spacing {
    margin-left: 10px; 
}

.section-6-social-media {
    width: 60px;
    height: 60px;
}
.section-6-spacing-avatar {
    margin-bottom: 25px;
}

.section-6-editorial-card {
    display: flex;
    align-items: center;
}

.section-6-text {
    display: flex;
    align-items: center;
}