* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

#MasterFrame {
    background-color: #c0c1bf;
}

#menu {
    display: flex;
    justify-content: space-around;
}

#links {
    gap: 10px;
    display: flex;
}

#lancamentos {
    background-color: #eee;
}

#lancamentos>h1 {
    text-align: center;
}

#lancamentos-conteudo {
    display: flex;
    gap: 30px;

}

#destaque {
    background-color: white;
    border-top: 1px solid #ececec;
}

.container {
    /* TODO: Definir o tamanho final */
    max-width: 1200px;
    margin: 0 auto;
}

#destaque header {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

#destaque h1 {
    color: #141f30;
}